In [4]:
import pandas as pd

In [5]:
R98 = pd.read_excel('../datasets/R98.xlsx', sheet_name='R98P3S04')
U98 = pd.read_excel('../datasets/U98.xlsx', sheet_name='U98P3S04')
R99 = pd.read_excel('../datasets/R99.xlsx', sheet_name='R99P3S04')
U99 = pd.read_excel('../datasets/U99.xlsx', sheet_name='U99P3S04')
R1400 = pd.read_excel('../datasets/R1400.xlsx', sheet_name='R1400P3S04')
U1400 = pd.read_excel('../datasets/U1400.xlsx', sheet_name='U1400P3S04')
R1401 = pd.read_excel('../datasets/R1401.xlsx', sheet_name='R1401P3S04')
U1401 = pd.read_excel('../datasets/U1401.xlsx', sheet_name='U1401P3S04')

In [6]:
R98.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68767 entries, 0 to 68766
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    68767 non-null  int64
 1   code       68767 non-null  int64
 2   mortgage   614 non-null    float64
 3   purchased  52784 non-null  object
 4   value      68767 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.6+ MB

In [7]:
dataframes = ['R98', 'U98', 'R99', 'U99', 'R1400', 'U1400', 'R1401', 'U1401']

In [8]:
for df_name in dataframes:
    df = globals()[df_name]
    df.drop(['mortgage', 'purchased'], axis=1, inplace=True)

In [9]:
R98[R98['code'] == 42212]

           Address   code     value
208    20007391408  42212    300000
285    20005388614  42212    300000
1379   20215411908  42212   9000000
1501   20219413520  42212    450000
1691   20210410717  42212   3000000
...            ...    ...       ...
68561  23002704217  42212   3000000
68565  23002704214  42212   2100000
68637  23006709014  42212  15000000
68720  23002704623  42212  15000000
68760  23006709423  42212  30000000

[615 rows x 3 columns]

In [10]:
R_concat = pd.concat([globals()[df_name] for df_name in ['R98', 'R99', 'R1400', 'R1401']])
U_concat = pd.concat([globals()[df_name] for df_name in ['U98', 'U99', 'U1400', 'U1401']])

In [11]:
R_concat.shape[0]

275960

In [12]:
R98.shape[0] +R99.shape[0]+R1400.shape[0]+R1401.shape[0]

275960

In [13]:
R_concat.describe()

            Address           code         value
count  2.759600e+05  275960.000000  2.759600e+05
mean   2.145782e+10   44074.448848  1.828731e+06
std    9.267312e+08    1302.717077  4.127526e+06
min    2.000138e+10   41111.000000  2.000000e+03
25%    2.070147e+10   42212.000000  2.100000e+05
50%    2.140455e+10   44412.000000  4.000000e+05
75%    2.230163e+10   45211.000000  1.500000e+06
max    2.300671e+10   45414.000000  1.500000e+08

In [14]:
U_concat.describe()

            Address           code         value
count  3.429980e+05  342998.000000  3.429980e+05
mean   1.154766e+10   44013.968732  3.967340e+06
std    9.046263e+08    1309.526937  1.086300e+07
min    1.000100e+10   41111.000000  2.000000e+03
25%    1.072810e+10   42214.000000  2.100000e+05
50%    1.150819e+10   44311.000000  4.000000e+05
75%    1.230128e+10   45111.000000  2.100000e+06
max    1.300638e+10   45414.000000  8.000000e+08

### sahpiro & anderson

In [16]:
ALPHA = 0.05

def anderson(result):
    print(f"Statistic: {result.statistic}")
    print(f"Critical Values: {result.critical_values}")
    print(f"Significance Levels: {result.significance_level}")

    for i in range(len(result.critical_values)):
        if result.statistic > result.critical_values[i]:
            print(f"At the {result.significance_level[i]}% significance level, data is NOT normal.")
        else:
            print(f"At the {result.significance_level[i]}% significance level, data is normal.")

In [20]:
from scipy import stats
U_concat_anderson =  stats.anderson(U_concat['value'])
anderson(U_concat_anderson)

Statistic: 68961.54317141889
Critical Values: [0.576 0.656 0.787 0.918 1.092]
Significance Levels: [15.  10.   5.   2.5  1. ]
At the 15.0% significance level, data is NOT normal.
At the 10.0% significance level, data is NOT normal.
At the 5.0% significance level, data is NOT normal.
At the 2.5% significance level, data is NOT normal.
At the 1.0% significance level, data is NOT normal.

In [21]:
from scipy import stats
R_concat_anderson =  stats.anderson(R_concat['value'])
anderson(R_concat_anderson)

Statistic: 48188.78837119264
Critical Values: [0.576 0.656 0.787 0.918 1.092]
Significance Levels: [15.  10.   5.   2.5  1. ]
At the 15.0% significance level, data is NOT normal.
At the 10.0% significance level, data is NOT normal.
At the 5.0% significance level, data is NOT normal.
At the 2.5% significance level, data is NOT normal.
At the 1.0% significance level, data is NOT normal.

In [38]:
U_concat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 342998 entries, 0 to 86982
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Address  342998 non-null  int64
 1   code     342998 non-null  int64
 2   value    342998 non-null  int64
dtypes: int64(3)
memory usage: 10.5 MB

فرضیات

- **فرضیه صفر (H0):** تفاوت معناداری بین میانگین ارزش خانه‌های شهری و روستایی وجود ندارد.
- **فرضیه مقابل (H1):** تفاوت معناداری بین میانگین ارزش خانه‌های شهری و روستایی وجود دارد.

In [39]:
from scipy import stats

u_test = stats.mannwhitneyu(R_concat['value'], U_concat['value'])
print(u_test)

MannwhitneyuResult(statistic=46041684151.0, pvalue=1.3729308831198633e-75)

p-value کمتر از 0.05 است، بنابراین فرضیه صفر رد می‌شود.

In [40]:
from scipy import stats
R_yeojohnson, _ = stats.yeojohnson(R_concat['value'])
U_yeojohnson, _ = stats.yeojohnson(U_concat['value'])

R_anderson = stats.anderson(R_yeojohnson)
U_anderson = stats.anderson(U_yeojohnson)

In [31]:
anderson(U_anderson)

Statistic: 4598.751635715831
Critical Values: [0.576 0.656 0.787 0.918 1.092]
Significance Levels: [15.  10.   5.   2.5  1. ]
At the 15.0% significance level, data is NOT normal.
At the 10.0% significance level, data is NOT normal.
At the 5.0% significance level, data is NOT normal.
At the 2.5% significance level, data is NOT normal.
At the 1.0% significance level, data is NOT normal.

In [32]:
anderson(R_anderson)

Statistic: 1771.4614132581628
Critical Values: [0.576 0.656 0.787 0.918 1.092]
Significance Levels: [15.  10.   5.   2.5  1. ]
At the 15.0% significance level, data is NOT normal.
At the 10.0% significance level, data is NOT normal.
At the 5.0% significance level, data is NOT normal.
At the 2.5% significance level, data is NOT normal.
At the 1.0% significance level, data is NOT normal.

In [116]:
from scipy import stats
U_concat_anderson =  stats.anderson(U_anderson['value'])
anderson(U_concat_anderson)

Statistic: 40598.39706371655
Critical Values: [0.576 0.656 0.787 0.918 1.092]
Significance Levels: [15.  10.   5.   2.5  1. ]
At the 15.0% significance level, data is NOT normal.
At the 10.0% significance level, data is NOT normal.
At the 5.0% significance level, data is NOT normal.
At the 2.5% significance level, data is NOT normal.
At the 1.0% significance level, data is NOT normal.

In [51]:
import numpy as np

R_log = np.log(R_concat['value'])
U_log = np.log(U_concat['value'])

R_log_anderson = stats.anderson(R_log)
U_log_anderson = stats.anderson(U_log)

In [48]:
anderson(R_log_anderson)

Statistic: 5174.823005863931
Critical Values: [0.576 0.656 0.787 0.918 1.092]
Significance Levels: [15.  10.   5.   2.5  1. ]
At the 15.0% significance level, data is NOT normal.
At the 10.0% significance level, data is NOT normal.
At the 5.0% significance level, data is NOT normal.
At the 2.5% significance level, data is NOT normal.
At the 1.0% significance level, data is NOT normal.

In [49]:
anderson(U_log_anderson)

Statistic: 13199.266178797407
Critical Values: [0.576 0.656 0.787 0.918 1.092]
Significance Levels: [15.  10.   5.   2.5  1. ]
At the 15.0% significance level, data is NOT normal.
At the 10.0% significance level, data is NOT normal.
At the 5.0% significance level, data is NOT normal.
At the 2.5% significance level, data is NOT normal.
At the 1.0% significance level, data is NOT normal.

In [53]:
import numpy as np

R_sqrt = np.sqrt(R_concat['value'])
U_sqrt = np.sqrt(U_concat['value'])

R_sqrt_anderson = stats.anderson(R_sqrt)
U_sqrt_anderson = stats.anderson(U_sqrt)

In [54]:
anderson(R_sqrt_anderson)

Statistic: 23649.319373013044
Critical Values: [0.576 0.656 0.787 0.918 1.092]
Significance Levels: [15.  10.   5.   2.5  1. ]
At the 15.0% significance level, data is NOT normal.
At the 10.0% significance level, data is NOT normal.
At the 5.0% significance level, data is NOT normal.
At the 2.5% significance level, data is NOT normal.
At the 1.0% significance level, data is NOT normal.

In [56]:
anderson(U_sqrt_anderson)

Statistic: 41568.48723287915
Critical Values: [0.576 0.656 0.787 0.918 1.092]
Significance Levels: [15.  10.   5.   2.5  1. ]
At the 15.0% significance level, data is NOT normal.
At the 10.0% significance level, data is NOT normal.
At the 5.0% significance level, data is NOT normal.
At the 2.5% significance level, data is NOT normal.
At the 1.0% significance level, data is NOT normal.

### نرمال نشد در نتیجه از u_test استفاده باید بکنم